@page
@model _2._Sem_Project_Eksamen_System.Pages.Eksamner.Create_ExamModel
@{
    ViewData["Title"] = "Create Exam";
}

<h1>Create Exam</h1>

<form method="post">
    <!-- Examen-->


    <!------------------------------------------------------------------------------->
    <!-- tilhørende ReExamen -->
    <button type="submit" class="btn btn-primary">Opret</button>
    <a asp-page="/Eksamner/GetEksamner" class="btn btn-secondary">Cancel</a>

</form>