@page "{id:int}"
@model _2._Sem_Project_Eksamen_System.Pages.Eksamner.Edit_ExamModel
@{
    ViewData["Title"] = "Edit Exam";
}

<h2>Edit Exam (@(Model.Exam.ExamId)) @Model.Exam.ExamName</h2>

<form method="post">
    <input type="hidden" asp-for="Exam.ExamId" />
    
    
    <div class="mb-3">
        
        <label asp-for="Exam.ExamName" class="form-label">Exam Name</label>
        <input asp-for="Exam.ExamName" class="form-control" />
        <span asp-validation-for="Exam.ExamName" class="text-danger"></span>
    </div>

    <!-- Date -->
    <!-- Validate start og end date-->
    <div class="row mb-3">
        <div class="col">
                <label asp-for="Exam.ExamStartDate" class="form-label">Start Date</label>
                <input asp-for="Exam.ExamStartDate" class="form-control" type="date" />
                <span asp-validation-for="Exam.ExamStartDate" class="text-danger"></span>
        </div>
        <div class="col">
                <label asp-for="Exam.ExamEndDate" class="form-label">Slut Dato</label>
                <input asp-for="Exam.ExamEndDate" class="form-control" type="date" />
                <span asp-validation-for="Exam.ExamEndDate" class="text-danger"></span>
        </div>
        <div class="col-6">
            <!-- buffer-->
        </div>
    </div>

    <!-- Eksaminatore-->

    <!-- Unervier logic-->


    <!-- Censor Type -->
    <div class="row mb-3">
        <div class="col">
            <label asp-for="Exam.CensorType" class="form-label">Censor TYpe</label>
            <select asp-for="Exam.CensorType" class="form-select">
                <option value="Intern">Intern</option>
                <option value="Extern">Extern</option>
            </select>
            <span asp-validation-for="Exam.CensorType" class="text-danger"></span>
        </div>
        <div class="col-10">
            <!-- buffer-->
        </div>
    </div>

    <!-- ReExksamen Logik-->



    <div class="mb-3">
        <label asp-for="Exam.Description" class="form-label">Description</label>
        <textarea asp-for="Exam.Description" class="form-control"></textarea>
        <span asp-validation-for="Exam.Description" class="text-danger"></span>
    </div>

    <!-- Class -->
    <!-- Man skal kunne søge i classerne-->
    
    <div>
        <label asp-for="Exam.Class.ClassName" class="form-label">Class</label>
        <!-- nneds a colection of valid classes in the cs file-->
        @* <select asp-for="Exam.Class.ClassName" class="form-select" asp-items="">
            <option value="">-- Select Class --</option>
        </select>
        <span asp-validation-for="Exam.ClassId" class="text-danger"></span> *@
    </div>


    <!-------------------------------------------------------------------------------------------------------------->
    <hr />

    <!-- Edit tilhørende Re eksamen-->
    <<h2>Edit ReExam (@(Model.Exam.ReExam?.ExamId)) @(Model.Exam.ReExam?.ExamName ?? "ikke givet")</h2>

    <div class="mb-3">

        <label asp-for="Exam.ReExam.ExamName" class="form-label">Exam Name</label>
        <input asp-for="Exam.ReExam.ExamName" class="form-control" />
        <span asp-validation-for="Exam.ReExam.ExamName" class="text-danger"></span>
    </div>

    <!-- Date -->
    <!-- Validate start og end date-->
    <div class="row mb-3">
        <div class="col">
            <label asp-for="Exam.ExamStartDate" class="form-label">Start Date</label>
            <input asp-for="Exam.ExamStartDate" class="form-control" type="date" />
            <span asp-validation-for="Exam.ExamStartDate" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Exam.ExamEndDate" class="form-label">Slut Dato</label>
            <input asp-for="Exam.ExamEndDate" class="form-control" type="date" />
            <span asp-validation-for="Exam.ExamEndDate" class="text-danger"></span>
        </div>
        <div class="col-6">
            <!-- buffer-->
        </div>
    </div>

    <!-- Eksaminatore-->
    <!-- Unervier logic-->
    <!-- Censor Type -->
    <div class="row mb-3">
        <div class="col">
            <label asp-for="Exam.CensorType" class="form-label">Censor TYpe</label>
            <select asp-for="Exam.CensorType" class="form-select">
                <option value="Intern">Intern</option>
                <option value="Extern">Extern</option>
            </select>
            <span asp-validation-for="Exam.CensorType" class="text-danger"></span>
        </div>
        <div class="col-10">
            <!-- buffer-->
        </div>
    </div>

    <!-- ReExksamen Logik-->



    <div class="mb-3">
        <label asp-for="Exam.Description" class="form-label">Description</label>
        <textarea asp-for="Exam.Description" class="form-control"></textarea>
        <span asp-validation-for="Exam.Description" class="text-danger"></span>
    </div>

    <!-- Class -->
    <!-- Man skal kunne søge i classerne-->

    <div>
        <label asp-for="Exam.Class.ClassName" class="form-label">Class</label>
        <!-- nneds a colection of valid classes in the cs file-->
        @* <select asp-for="Exam.Class.ClassName" class="form-select" asp-items="">
            <option value="">-- Select Class --</option>
        </select>
        <span asp-validation-for="Exam.ClassId" class="text-danger"></span> *@
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="/Eksamner/GetEksamner" class="btn btn-secondary">Cancel</a>
    
</form>

