@page
@model _2._Sem_Project_Eksamen_System.Pages.Eksamner.GetEksamnerModel
@{
    ViewData["Title"] = "GetEksamner";
}

<h1>GetEksamner</h1>

<table class="table">
    <thead>
        <tr>
            <th> Eksamens ID</th>
            <th> Title</th>
            <th> Hold ID</th>
            <th> Dato</th>
        </tr>
    </thead>
    <tbody>
       @false
        @foreach (var eksamen in Model.Eksamner)
        {
            <tr>
                <td>@eksamen.ExamId</td>
                <td>@eksamen.ExamName</td>
                <td>@eksamen.ClassId</td>
                <td>@eksamen.ExamStartDate</td>
            </tr>
        }
    </tbody>
</table>
