@page
@model _2._Sem_Project_Eksamen_System.Pages.Hold.DeleteModel
@{
    ViewData["Title"] = "Delete Class";
}

<h2>Delete Class</h2>

@if (Model.Class is null)
{
    <p> Class not found.</p>
}
else
{
    <p>Are you sure you want to delete? <strong>@Model.Class.ClassName</strong> (ID: @Model.Class.ClassId)?</p>
    <form method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-page="Index" class="btn btn-secondary">Cancel</a>
    </form>
}
